<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
       <title>{% block title%} {% endblock %}</title>
       <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap" rel="stylesheet">
     <style>
        body{
    font-family: 'Noto Sans SC', sans-serif;
    }
    .icon{
        width: 88px;
    height: 53px;
    }
    .cart123{
      color:white;
      font-size:24px;
    }
       {% block css %} {% endblock %}
  </style>


<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="JRl3Y5Eo"></script>
  </head>
  <body>

{%load static%}


<!--  navbar starts here-->
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">CodeTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  {% block homeactive%} {% endblock homeactive%}">
        <a class="nav-link hov" href="/" >Home </a>
      </li>
      <li class="nav-item {% block aboutactive%}{% endblock aboutactive%}">
        <a class="nav-link hov" href="/about">About Us</a>
      </li>
      <li class="nav-item {% block contactactive%}{% endblock contactactive%}">
        <a class="nav-link hov" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item {% block blogactive%}{% endblock blogactive%}">
        <a class="nav-link hov" href="/blog">Blog</a>
      </li>



    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action="/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='query' id="query">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <!-- Button trigger modal -->
<!-- Button trigger modal -->


{% if user.is_authenticated%}

<ul class="navbar-nav mr-2">
   <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
        
        </div>
      </li>
</ul>



{% else%}


  <button type="button" class="btn btn-outline-success mr-2 ml-2" data-toggle="modal" data-target="#signUpModal">
 SignUp 
</button>
<button type="button" class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#signInModal">
 Sign In
</button>



{% endif%}  


<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SignUp Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form action="/signUp" method="post">{% csrf_token%}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Enter Username">
          </div>
            <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder=" First name">
          </div>
            <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your password">
          </div>
          <div class="form-group">
            <label for="pass2">Confirm Your password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Your password">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
        





</form>
      </div>
      
    </div>
  </div>
</div>
          




<!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Sign In Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form action="/signIn" method="post">{% csrf_token%}
          
          <div class="form-group">
            <label for="loginUsername">Username</label>
            <input type="text" class="form-control" id="loginUsername" name="loginUsername" aria-describedby="emailHelp" placeholder="Enter your Username">
      
          </div>
          <div class="form-group">
            <label for="loginpass">Password</label>
            <input type="password" class="form-control" id="loginpass" name="loginpass" placeholder="Enter your Password">
          </div>
       
          <button type="submit" class="btn btn-primary">Submit</button>

          
          
      </form>
        





</form>
      </div>
      
    </div>
  </div>
</div>
          


    
  </div>
</nav>




{% if messages %}
  {% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message: </strong>{{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 {% endfor %}

{% endif %}
<!--  navbar end here-->
{%block body%}{%endblock%}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>


{%block js%}


{%endblock%}