{% extends 'home/basic.html'%}

{%block title%} BlogPost {%endblock%}

{%block css %} 
	.center{
    align-item:center;
    text-align:center;
    justify-content:center;
  }


 {%endblock%}


{% block body%}

<main role="main" class="container-fluid">
  <div class="row">
  	<div class="col-md-2 col-sm-2 blog-nav">

  	</div>

    <div class="col-md-8 blog-main">
      <h2 class="pb-4 mb-4 font-italic border-bottom my-4" style="color: #1b1b9b; ">
        <b>{{fpost.title}}</b>
      </h2>
      <div>
      	<img src="/media/{{fpost.thumbnail}}" style="width: 900px; height: 500px;">
      </div>
      <div class="blog-post">	
        
        <p class="blog-post-meta " style="color: #1b1b9b; "><b>Written by {{fpost.author}}</b></p>
        <div class="fb-like" data-href="http://127.0.0.1:8000/blog/{{fpost.slug}}" class="mx-2" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
        <p class="blog-post-meta">{{fpost.timeStemp}}</p>
        	
        <p class="my-3 ">{{fpost.content|safe}}</p>
      </div>
     

    </div><!-- /.blog-main -->

    <aside class="col-md-2 col-sm-2 blog-sidebar">
      
      <div class="p-4">
        <h4 class="font-italic">Join Us</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>

    </aside><!-- /.blog-sidebar -->
	
  </div><!-- /.row -->
<hr>
</main>
<div class="container center">
	<h2 class="center">Comments Here</h2>
	<div class="fb-comments" data-href="http://127.0.0.1:8000/blog/{{fpost.slug}}" data-numposts="1" data-width=""></div>
</div>

 {% endblock%}