{% extends 'home/basic.html'%}

{%block title%} Home {%endblock%}
{%block css %}
  .center{
    align-item:center;
    text-align:center;
    justify-content:center;
  }

{%endblock%}
{% block homeactive%} active {% endblock homeactive%}




{%block body%}



<div class="container">


<!--  <div class="nav-scroller py-1 mb-2">-->
<!--    <nav class="nav d-flex justify-content-between">-->
<!--      <a class="p-2 text-muted" href="#">World</a>-->
<!--      <a class="p-2 text-muted" href="#">U.S.</a>-->
<!--      <a class="p-2 text-muted" href="#">Technology</a>-->
<!--      <a class="p-2 text-muted" href="#">Design</a>-->
<!--      <a class="p-2 text-muted" href="#">Culture</a>-->
<!--      <a class="p-2 text-muted" href="#">Business</a>-->
<!--      <a class="p-2 text-muted" href="#">Politics</a>-->
<!--      <a class="p-2 text-muted" href="#">Opinion</a>-->
<!--      <a class="p-2 text-muted" href="#">Science</a>-->
<!--      <a class="p-2 text-muted" href="#">Health</a>-->
<!--      <a class="p-2 text-muted" href="#">Style</a>-->
<!--      <a class="p-2 text-muted" href="#">Travel</a>-->
<!--    </nav>-->
<!--  </div>-->

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark my-4">
    <div class="col-md-6 px-0">
        {% for features in feature%}
      <h1 class="display-4 font-italic">{{features.title}}</h1>
      <p class="lead my-3">{{features.content|safe|slice:"0:300"}}...</p>
      <p class="lead mb-0"><a href="/feature" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
      {%endfor%}
  </div>



<h2 class="center"> Popular Blog Posts</h2>

  <div class="row mb-2 my-4">

    <div class="col-md-9 col-sm-9 ">
 {% for post in posts%}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">{{post.timeStemp}}</div>
          <p class="card-text mb-auto">{{post.content|safe|slice:"0:100"}}...</p>
          <a href="blog/{{post.slug}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="/media/{{post.thumbnail}}">
        </div>
      </div>

      {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
    </div>   <div class="col-md-9 col-sm-9 ">
    {%endif%}
      {%endfor%}

  </div>
</div>


{% endblock%}